.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;
}
.note
{
  font-size: 15px;
  color: black;
}
body
{
  background-size: cover;	
}
  #song
  {
  	font-size: 23px;
  	margin: 15px;
    color: crimson;
    background-color: white;
  }
  canvas{
   background-color: white;
   border: 5px solid white;
   border-radius: 20px;
   box-shadow: 5px 5px 5px gray;
}
#heading{
    background-color:white ;
    color: crimson;
}
.note{
    color: crimson;
}